<div class="login-navs">
    <div class="login-navs-logo">
      <a href="index.html">
      <%= image_tag 'login-logo.png', alt: '97gun' %>
      </a>
    <h3 class="login-title">可能是史上最全的冷知识库</h3>
    </div>
    <ul class="login-tab">
      <li><a href="" class="active" >登&nbsp;录</a></li>
      <li><a href="" >注&nbsp;册</a></li>
    </ul>
  </div>
  <form action="" class="login-form">
    <input class="login-input login-username" type="text" name="" id="" placeholder="手机号码">
    <input class="login-input login-password" type="text" name="" id="" placeholder="密码">
    <div class="login-check">
      <div class="login-check-sub">
        <input type="checkbox" name="" id="">
        <label for="">记住密码<a href=""></a></label>
        <input class="login-button  login-login" type="submit" name="" id="" value="登&nbsp;录">
        <div class="">
              <a href="javascript:;" class="toggle-form">
              <div class="">
              </div>
              还没注册帐户？点击注册</a>
            </div>
      </div>
    </div>
  </form>