<div class="login-navs">
    <div class="login-navs-logo">
      <a href="index.html">
        <%= image_tag 'login-logo.png', alt: "97gun" %>
      </a>
    <h3 class="login-title">可能是史上最全的冷知识库</h3>
    </div>
    <ul class="login-tab">
      <li><a href=""  >登&nbsp;录</a></li>
      <li><a href="" class="active" >注&nbsp;册</a></li>
    </ul>
  </div>
  <form action="" class="login-form">
    <input class="login-input login-username" type="text" name="" id="" placeholder="手机号码">
    <input class="login-input login-code" type="text" name="" id="" placeholder="验证码">
    <input class="login-button login-get-code" type="button" id="btn" value="点击获取验证码">
    <input class="login-input login-password" type="text" name="" id="" placeholder="密码">
    <input class="login-input login-confirm-password" type="text" name="" id="" placeholder="确认密码">
    <div class="login-check">
      <div class="login-check-sub">
        <input type="checkbox" name="" id="">
        <label for="">我已阅读并同意<a href="">《97gun用户服务条款》</a></label>
        <input class="login-button  login-button-commit" type="submit" name="" id="" value="注&nbsp;册">
        <div class="">
              <a href="javascript:;" class="toggle-form">
              <div class="">
              </div>
              已有帐户？点击登录</a>
            </div>
      </div>
    </div>
  </form>