<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= yield :css %>
  <script>
  (function(docs) {
    if(navigator.userAgent.indexOf('iPad') != -1) {
      docs.getElementById("viewport").setAttribute("content", "width=1100");
    } else {
      docs.getElementById("viewport").setAttribute("content", "width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no");
    }
  }(document));
  </script>
</head>
<body class="top">

<div id="wrapper">
<%= yield %>

<footer class="footer">
  <div class="copyright">COPYRIGHT &copy; SAKUZAN. ALL RIGHTS RESERVED.</div>
</footer>

</div>


<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="asset/lib/jquery/jquery.lib.js"></script>
<script src="asset/lib/velocity/velocity.min.js"></script>
<script src="asset/lib/jquery.browser.min.js"></script>
<script src="asset/lib/bxslider/jquery.bxslider.min.js"></script>
<script src="asset/js/base.js"></script>
<script src="js/index.js"></script>
<script src="asset/js/ga.js"></script>

</body>
</html>
